@import "../../scss/_mixin.scss";
@import "../../scss/_variables.scss";
@import "../../scss/_fonts.scss";
.btn {
    color: $white !important;
    background: #ef5350 !important;
    font-family: $medium_font-family_secondary;
    font-weight: $medium_font-weight;
    height: 40px !important;
    min-width: 150px !important;
    &:not(:last-child) {
        margin-right: 15px;
    }
}
