@import "../../scss/_mixin.scss";
@import "../../scss/_variables.scss";
@import "../../scss/_fonts.scss";

.dashboard {
    &__cards {
        @extend %flexbox;
        justify-content: flex-start;
        align-items: flex-start;
        margin: 0px -10px;
        flex-wrap: wrap;
    }
    &__btn {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 10px 0;
    }
}
