@font-face {
  font-family: "pokemon";
  src: url("../assets/fonts/pokemon.eot?cgyf0v");
  src: url("../assets/fonts/pokemon.eot?cgyf0v#iefix") format("embedded-opentype"),
    url("../assets/fonts/pokemon.ttf?cgyf0v") format("truetype"),
    url("../assets/fonts/pokemon.woff?cgyf0v") format("woff"),
    url("../assets/fonts/pokemon.svg?cgyf0v#pokemon") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="pokemon-"],
[class*=" pokemon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "pokemon" !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.pokemon-pokeball:before {
  content: "\e900";
}
